* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
  font-family: 'Oswald', sans-serif; }
  * .container {
    max-width: 1440px; }

#header {
  background-color: #bebebe;
  display: grid;
  align-items: center; }
  #header .container {
    display: flex;
    align-items: baseline; }
    #header .container img {
      width: 100%;
      height: auto;
      padding: -7px 1px; }
      #header .container img:hover {
        width: 42%;
        transition: 1s; }
    #header .container nav {
      display: flex;
      flex-direction: row;
      text-align: center;
      padding-bottom: 25px;
      align-items: center; }
    #header .container ul {
      display: flex; }
    #header .container li {
      list-style: none; }
    #header .container a {
      padding: 5px 8px;
      margin-top: 25px;
      text-decoration: none;
      text-align: center;
      font-weight: bold;
      color: black; }
      #header .container a:hover {
        background-color: #cecef6; }

#footer .enlaces {
  display: flex; }
  #footer .enlaces img {
    width: 50%;
    height: auto; }
  #footer .enlaces p {
    position: absolute;
    margin-left: 43%;
    margin-top: 5%;
    color: black; }
  #footer .enlaces ul {
    position: relative;
    margin-top: 15%; }
    #footer .enlaces ul li {
      list-style: none; }
    #footer .enlaces ul a {
      text-decoration: none;
      color: #212529; }

#footer p {
  margin-bottom: 0%;
  color: black; }

#footer a {
  text-decoration: none;
  color: #212529; }

#footer .contacto__container {
  display: flex; }
  #footer .contacto__container i {
    margin-top: 2px;
    color: #212529; }
  #footer .contacto__container p {
    font-size: 15px;
    margin-left: 5px;
    color: #212529; }

main #hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  padding-bottom: 30px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://img.freepik.com/foto-gratis/increible-toma-aerea-paisaje-urbano-singapur-muchos-rascacielos_181624-18618.jpg?w=996&t=st=1660929968~exp=1660930568~hmac=41d1a09058c064f55fcea47df4dc0f8b08717623a3ef85ac43ef3aafc22445ea);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  main #hero h1 {
    margin: -14px;
    margin-top: 70px;
    text-shadow: 2px 2px 2px #aaa; }
  main #hero .carta {
    margin: 20px;
    padding-bottom: 20px; }
    main #hero .carta_titulo {
      display: flex;
      justify-content: center;
      align-items: flex-end; }
  main #hero .titulo {
    color: beige;
    text-shadow: 2px 2px 2px #aaa; }
  main #hero .parrafo {
    font-size: 15px;
    padding: 5px; }
  main #hero img {
    width: 60px;
    height: 60px;
    color: white; }
  main #hero .boton {
    font-size: 0.5em;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 2px 2px 10px black;
    color: black;
    background-color: #c1c1cd; }
    main #hero .boton:hover {
      background-color: beige; }

main #seccion__1 .container {
  background-color: whitesmoke;
  text-align: center;
  padding: 200px 20px; }
  main #seccion__1 .container h2 {
    text-shadow: 4px 4px 4px #aaa; }
  main #seccion__1 .container h4 {
    font-size: calc(1.1rem + .1vw); }

main #seccion__2 h4 {
  margin-left: 5px;
  margin: -1px;
  background-color: #bebebe; }

main #seccion__2 .container {
  padding: 0;
  max-height: 120px;
  border: 0px solid white;
  display: flex;
  overflow-x: auto; }
  main #seccion__2 .container .item {
    min-width: 110px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    background-color: black; }
    main #seccion__2 .container .item p {
      color: white; }

main {
  background-color: whitesmoke; }
  main #sobreNosotros h1 {
    text-shadow: 2px 2px 2px #aaa;
    padding: 15px;
    display: flex;
    justify-content: center; }
  main #sobreNosotros .container {
    text-align: center;
    padding: 25px 20px; }
    main #sobreNosotros .container img {
      width: 30%; }

#main #contacto {
  flex-direction: column; }
  #main #contacto div .card {
    padding: 25px; }
  #main #contacto .btn {
    background-color: #6c757d; }
  #main #contacto .wsp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; }
    #main #contacto .wsp a {
      text-decoration: none;
      font-size: 60px;
      width: 90px;
      height: 90px;
      line-height: 90px;
      text-align: center;
      background-color: #000;
      color: white;
      border-radius: 50%;
      box-shadow: 2px 2px 5px black;
      transition: all .4s ease-in-out; }

#main .servicios {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #main .servicios h1 {
    text-shadow: 2px 2px 2px #aaa;
    padding: 15px; }
  #main .servicios .carta {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 5px;
    margin-bottom: 10px;
    border-radius: 6px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2); }
    #main .servicios .carta_titulo {
      background-color: #bebebe; }
      #main .servicios .carta_titulo p {
        margin-left: 11px;
        margin-top: 10px; }
    #main .servicios .carta_parrafo p {
      margin: 15px;
      line-height: 2; }
    #main .servicios .carta .boton {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 40px;
      color: black;
      border: none;
      cursor: pointer;
      text-transform: uppercase;
      transition: .3s ease all;
      border-radius: 5px;
      position: relative;
      overflow: hidden; }
      #main .servicios .carta .boton:hover .icono {
        left: calc(100% - 50px);
        opacity: 1; }
      #main .servicios .carta .boton span {
        transition: .4s ease-in-out all;
        position: absolute;
        left: 40%; }
        #main .servicios .carta .boton span:hover {
          left: 20px; }
