* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
  font-family: 'Oswald', sans-serif; }
  * .container {
    max-width: 1440px; }

#header {
  background-color: #bebebe;
  display: grid;
  align-items: center; }
  #header .container {
    display: flex;
    align-items: baseline; }
    #header .container img {
      width: 100%;
      height: auto;
      padding: -7px 1px; }
      #header .container img:hover {
        width: 25%;
        transition: 1s; }
    #header .container nav {
      display: flex;
      flex-direction: row;
      text-align: center;
      padding-bottom: 25px;
      align-items: center; }
    #header .container ul {
      display: flex; }
    #header .container li {
      list-style: none; }
    #header .container a {
      padding: 5px 8px;
      margin-top: 25px;
      text-decoration: none;
      text-align: center;
      font-weight: bold;
      color: black; }

#footer .enlaces {
  display: flex; }
  #footer .enlaces img {
    width: 50%;
    height: auto; }
  #footer .enlaces p {
    position: absolute;
    margin-left: 43%;
    margin-top: 5%;
    color: black; }
  #footer .enlaces ul {
    position: relative;
    margin-top: 15%; }
    #footer .enlaces ul li {
      list-style: none; }
    #footer .enlaces ul a {
      text-decoration: none;
      color: #212529; }

#footer .redes {
  display: flex; }
  #footer .redes__container a {
    margin-left: 3px;
    font-size: 20px; }

#footer a {
  text-decoration: none;
  color: #212529; }

#footer .contacto__titulo {
  margin-top: 10px;
  margin-bottom: 0%; }

#footer .contacto .subtitulo {
  margin-bottom: 0%;
  font-size: 13px;
  margin-top: 10px; }

#footer .contacto__container {
  display: flex;
  align-items: baseline;
  margin-bottom: -10px; }
  #footer .contacto__container i {
    margin-bottom: 0%;
    color: black;
    font-size: 15px; }
  #footer .contacto__container p {
    font-size: 15px;
    margin-left: 5px;
    color: #3e4145; }
  #footer .contacto__container__contenido {
    display: flex; }

@media (max-width: 375px) {
  #header .container {
    width: 100%;
    align-items: flex-end;
    justify-content: center; }
    #header .container img {
      width: 100%; }
    #header .container nav {
      padding-bottom: 0px; }
      #header .container nav ul {
        flex-direction: column;
        align-items: flex-start;
        font-size: 13px;
        padding-bottom: 15px; }
        #header .container nav ul li {
          margin-top: 6px; }
      #header .container nav a {
        margin-top: 0px; }
  #footer .enlaces {
    width: 100%;
    flex-direction: column; }
    #footer .enlaces img {
      width: 100%;
      height: 50%; }
    #footer .enlaces p {
      position: relative;
      margin-bottom: 0%; }
    #footer .enlaces ul {
      display: flex;
      margin-top: 0px;
      justify-content: center; }
      #footer .enlaces ul li {
        margin: 5px; }
  #footer .contacto__container p {
    font-size: 12.5px; }
  #footer .contacto__container__contenido p {
    font-size: 14px; } }

@media (min-width: 768px) {
  #header .container {
    width: 70%; }
    #header .container ul {
      font-size: 20px; }
  #footer .row {
    display: flex; }
    #footer .row .enlaces img {
      width: 100%; }
    #footer .row .enlaces p {
      position: relative;
      margin-left: 10%; }
    #footer .row .enlaces ul {
      position: relative;
      margin-left: -80px; }
    #footer .row .redes {
      position: absolute;
      margin-top: 25%;
      margin-left: 20px; }
    #footer .row .contacto {
      position: relative;
      margin-left: 20%; }
      #footer .row .contacto__container p {
        font: 12.5px; }
      #footer .row .contacto__container__contenido p {
        font-size: 14px; } }

@media (min-width: 1024px) {
  #header .container {
    width: 100%;
    margin-left: 0px;
    padding: 0px; }
    #header .container img {
      width: 20%; }
    #header .container a {
      text-align: start;
      margin: 10px; }
  #footer {
    padding: 0; }
    #footer .row {
      padding: 0; }
      #footer .row .redes {
        margin-top: 1%;
        margin-left: 70%; } }

main #hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  padding-bottom: 30px;
  background-image: linear-gradient(135deg, #25316D, #5F6F94, #CFD2CF);
  background-size: 500%;
  animation: fanimado 10s infinite; }
  main #hero h1 {
    margin: -14px;
    font-size: calc(1.5rem + 1.5vw);
    margin-top: 70px;
    text-shadow: 2px 2px 2px #aaa; }

@keyframes fanimado {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
  main #hero .logoIndex {
    width: 80%;
    height: 50%; }
  main #hero p {
    margin: 10px;
    font-size: 15px; }
  main #hero .cartas {
    margin: 50px; }
  main #hero .carta {
    margin: 20px;
    padding-bottom: 20px; }
    main #hero .carta_titulo {
      display: flex;
      justify-content: center;
      align-items: center; }
  main #hero .titulo {
    color: beige;
    text-shadow: 2px 2px 2px #aaa; }
  main #hero .parrafo {
    font-size: 15px;
    padding: 5px; }
  main #hero img {
    width: 60px;
    height: 60px;
    color: white; }
  main #hero .boton {
    font-size: 0.5em;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 2px 2px 10px black;
    color: black;
    background-color: #c1c1cd; }
    main #hero .boton:hover {
      background-color: #5a5a8f; }

main #seccion__1 .container {
  background-color: whitesmoke;
  text-align: center;
  padding: 100px 20px; }
  main #seccion__1 .container h2 {
    text-shadow: 4px 4px 4px #aaa; }
  main #seccion__1 .container p {
    margin-top: -155px;
    margin-bottom: 0px;
    padding-bottom: 5px; }
  main #seccion__1 .container h4 {
    margin-top: 50px;
    font-size: calc(1.1rem + .1vw); }
  main #seccion__1 .container .imagenes {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    height: 500px; }
    main #seccion__1 .container .imagenes img {
      width: auto; }
    main #seccion__1 .container .imagenes video {
      height: 500px; }

main #seccion__2 h4 {
  margin-left: 5px;
  margin: -1px;
  background-color: #bebebe; }

main #seccion__2 .container {
  padding: 0;
  max-height: 120px;
  border: 0px solid white;
  display: flex;
  overflow-x: auto; }
  main #seccion__2 .container .item {
    min-width: 150px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    background-color: black; }
    main #seccion__2 .container .item p {
      color: white; }

@media (max-width: 375px) {
  #main #seccion__1 .container .imagenes {
    display: none; }
    #main #seccion__1 .container .imagenes video {
      display: none; }
  #main #seccion__1 .container p {
    margin-top: 62px; } }

@media (max-width: 500px) {
  #main #seccion__1 .container .imagenes {
    display: none; }
    #main #seccion__1 .container .imagenes video {
      display: none; }
  #main #seccion__1 .container p {
    margin-top: 40px; } }

@media (min-width: 768px) {
  #main #hero .container h1 {
    font-size: 3rem; }
  #main #hero .container p {
    font-size: 15px; }
  #main #hero .container .cartas {
    display: flex; }
    #main #hero .container .cartas .carta_titulo {
      display: flex;
      flex-direction: column; }
      #main #hero .container .cartas .carta_titulo p {
        font-size: 20px; }
  #main #seccion__1 .container .imagenes img {
    width: 240px; }
  #main #seccion__1 .container p {
    margin: 90px;
    margin-top: 30px; } }

@media (min-width: 1024px) {
  #main {
    flex-direction: column; }
    #main #hero .container .logoIndex {
      width: 50%; }
    #main #hero .container p {
      color: #000000;
      font-size: 20px; }
    #main #hero .container .cartas {
      display: flex;
      justify-content: center; }
      #main #hero .container .cartas p {
        color: white; }
    #main #seccion__1 .container p {
      margin: 100px;
      padding: 165px;
      margin-top: -130px; }
    #main #seccion__1 .container h4 {
      margin-top: 70px; }
    #main #seccion__1 .container .imagenes {
      margin-top: -200px; }
    #main #seccion__2 {
      background-color: #000000; }
      #main #seccion__2 .container .item {
        width: 300px; } }

main {
  background-color: whitesmoke; }
  main img {
    width: 100%; }
  main #sobreNosotros h1 {
    text-shadow: 2px 2px 2px #aaa;
    padding: 15px;
    display: flex;
    justify-content: center; }
  main #sobreNosotros .container {
    text-align: center;
    padding: 25px 20px; }
    main #sobreNosotros .container img {
      width: 30%; }

#main img {
  width: 100%; }

#main #contacto {
  flex-direction: column; }
  #main #contacto h1 {
    font-size: calc(1.375rem + 1.4vw);
    margin-left: 10px;
    margin-top: 30px;
    text-shadow: 2px 2px 2px #aaa; }
  #main #contacto .redesYcontacto {
    width: 100%; }
    #main #contacto .redesYcontacto .consultas {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      margin-bottom: 50px; }
      #main #contacto .redesYcontacto .consultas hr {
        width: 50px;
        color: #000; }
      #main #contacto .redesYcontacto .consultas a {
        text-decoration: none;
        font-size: 60px;
        width: 90px;
        height: 90px;
        line-height: 90px;
        text-align: center;
        background-color: #000;
        color: white;
        border-radius: 50%;
        box-shadow: 2px 2px 5px black;
        transition: all .4s ease-in-out; }
      #main #contacto .redesYcontacto .consultas .row {
        width: 90%;
        margin: 1px;
        padding: 1px;
        align-items: flex-end; }
        #main #contacto .redesYcontacto .consultas .row p {
          font-size: 14px; }
        #main #contacto .redesYcontacto .consultas .row .p1 {
          margin-left: 45px; }
        #main #contacto .redesYcontacto .consultas .row .p2 {
          margin-left: 45px; }
        #main #contacto .redesYcontacto .consultas .row .mail {
          margin-left: 30%; }
      #main #contacto .redesYcontacto .consultas_tel .telefono {
        display: grid;
        justify-content: center; }
        #main #contacto .redesYcontacto .consultas_tel .telefono h4 {
          margin-top: 10px; }
        #main #contacto .redesYcontacto .consultas_tel .telefono .tel {
          display: flex;
          align-items: baseline; }
          #main #contacto .redesYcontacto .consultas_tel .telefono .tel i {
            font-size: 30px; }
          #main #contacto .redesYcontacto .consultas_tel .telefono .tel p {
            font-size: 30px; }

@media (max-width: 375px) {
  #main #contacto h1 {
    font-size: calc(1.9em + 1.4vw);
    margin-left: 20px; }
  #main #contacto .redesYcontacto .imagenes {
    display: none; }
  #main #contacto .redesYcontacto .consultas .row .p1 {
    margin-top: 10px;
    margin-left: 66px; }
  #main #contacto .redesYcontacto .consultas .row .p2 {
    margin-top: 20px;
    margin-left: 16px; }
  #main #contacto .redesYcontacto .consultas .row .mail {
    margin-left: 35%; }
  #main #contacto .redesYcontacto .consultas_tel .telefono {
    display: grid;
    justify-content: center; }
    #main #contacto .redesYcontacto .consultas_tel .telefono .tel {
      display: flex;
      align-items: baseline; }
      #main #contacto .redesYcontacto .consultas_tel .telefono .tel i {
        font-size: 30px; }
      #main #contacto .redesYcontacto .consultas_tel .telefono .tel p {
        font-size: 30px; } }

@media (max-width: 500px) {
  .imagenes {
    display: none; } }

@media (min-width: 768px) {
  #main #contacto h1 {
    font-size: calc(2rem + 1.4vw);
    margin-left: 85px; }
  #main #contacto .redesYcontacto .imagenes {
    width: 30%; }
  #main #contacto .redesYcontacto .consultas {
    display: flex;
    flex-direction: row-reverse; }
    #main #contacto .redesYcontacto .consultas h4 {
      font-size: calc(2.5rem + .3vw); }
    #main #contacto .redesYcontacto .consultas a {
      font-size: 80px;
      width: 150px;
      height: 150px;
      line-height: 150px; }
    #main #contacto .redesYcontacto .consultas_wsp a {
      margin-top: 50px;
      margin-left: 100px; }
    #main #contacto .redesYcontacto .consultas_wsp h4 {
      position: absolute;
      margin-top: -170px;
      margin-left: 330px; }
    #main #contacto .redesYcontacto .consultas_mail h4 {
      position: absolute;
      margin-top: -450px;
      margin-left: 350px; }
    #main #contacto .redesYcontacto .consultas_mail .mailImg {
      margin-left: 140px; }
    #main #contacto .redesYcontacto .consultas_mail .row {
      display: grid;
      margin-top: 30px; }
      #main #contacto .redesYcontacto .consultas_mail .row p {
        font-size: 19px; }
      #main #contacto .redesYcontacto .consultas_mail .row .p1 {
        margin-left: 85px; }
      #main #contacto .redesYcontacto .consultas_mail .row .mail1 {
        margin-left: 95px; }
      #main #contacto .redesYcontacto .consultas_mail .row .mail2 {
        margin-left: 65px; }
    #main #contacto .redesYcontacto .consultas_tel .telefono h4 {
      position: absolute;
      margin-left: 420px;
      margin-top: 140px;
      font-size: calc(1.5rem + .3vw); }
    #main #contacto .redesYcontacto .consultas_tel .tel {
      position: absolute;
      margin-left: 450px;
      margin-top: 190px; }
    #main #contacto .redesYcontacto .consultas_tel .telImg {
      margin-left: 111px; } }

@media (min-width: 1024px) {
  #main #contacto .redesYcontacto .imagenes {
    filter: brightness(0.7); }
  #main #contacto .redesYcontacto hr {
    display: none; }
  #main #contacto .redesYcontacto .consultas h4 {
    font-size: calc(1rem + 1.4vw);
    position: absolute;
    margin-top: -250px;
    margin-left: 40%; }
  #main #contacto .redesYcontacto .consultas a {
    margin-left: 131px; }
  #main #contacto .redesYcontacto .consultas_mail h4 {
    margin-top: -405px; }
  #main #contacto .redesYcontacto .consultas_mail .row .p1 {
    margin-left: 90px; }
  #main #contacto .redesYcontacto .consultas .mailImg {
    margin-left: 210px; }
  #main #contacto .redesYcontacto .consultas_tel .telefono {
    margin-right: 250px; }
    #main #contacto .redesYcontacto .consultas_tel .telefono h4 {
      margin-top: 150px;
      margin-left: 60%; }
  #main #contacto .redesYcontacto .consultas_tel .tel {
    display: flex;
    align-items: baseline;
    position: absolute;
    margin-left: 60%;
    margin-top: 195px; }
    #main #contacto .redesYcontacto .consultas_tel .tel i {
      font-size: 40px; }
    #main #contacto .redesYcontacto .consultas_tel .tel p {
      font-size: 50px; }
  #main #contacto .redesYcontacto .consultas_tel .telImg {
    margin-bottom: 50px;
    width: 50%;
    margin-left: 135px; } }

@media (min-width: 1440px) {
  #main #contacto .redesYcontacto .consultas .row .mail {
    margin-left: 20%; }
  #main #contacto .redesYcontacto .consultas .mailImg {
    margin-left: 380px; }
  #main #contacto .redesYcontacto .consultas_tel .telImg {
    width: 85%;
    margin-left: 25px; } }

#main .servicios {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #main .servicios h1 {
    text-shadow: 2px 2px 2px #aaa;
    padding: 15px; }
  #main .servicios .carta {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 5px;
    margin-bottom: 10px;
    border-radius: 6px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2); }
    #main .servicios .carta_titulo {
      background-color: #bebebe; }
      #main .servicios .carta_titulo p {
        margin-left: 11px;
        margin-top: 10px; }
    #main .servicios .carta_imagen {
      margin-top: 5px;
      display: flex;
      justify-content: center; }
      #main .servicios .carta_imagen img {
        width: 35%; }
    #main .servicios .carta_parrafo p {
      margin: 15px;
      line-height: 2; }
    #main .servicios .carta .boton {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 40px;
      color: black;
      border: none;
      cursor: pointer;
      text-transform: uppercase;
      transition: .3s ease all;
      border-radius: 5px;
      position: relative;
      overflow: hidden; }
      #main .servicios .carta .boton:hover .icono {
        left: calc(100% - 50px);
        opacity: 1; }
      #main .servicios .carta .boton span {
        transition: .4s ease-in-out all;
        position: absolute;
        left: 40%; }
        #main .servicios .carta .boton span:hover {
          left: 20px; }
    #main .servicios .carta .pliego_modelos {
      position: relative;
      display: flex;
      overflow: hidden;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 15px;
      cursor: pointer; }
      #main .servicios .carta .pliego_modelos:hover > .capa {
        opacity: 1;
        visibility: visible; }
      #main .servicios .carta .pliego_modelos:hover > .capa img {
        margin: 50px; }
      #main .servicios .carta .pliego_modelos .card {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        box-shadow: 3px 5px 5px rgba(3, 32, 51, 0.8);
        margin: 5px; }
        #main .servicios .carta .pliego_modelos .card p {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: flex-start; }
        #main .servicios .carta .pliego_modelos .card .capa {
          position: absolute;
          display: flex;
          top: 0%;
          width: 100%;
          height: 100%;
          margin-left: 0%;
          background: rgba(0, 0, 0, 0.8);
          opacity: 0;
          transition: .5s;
          color: black; }
          #main .servicios .carta .pliego_modelos .card .capa:hover {
            opacity: 1; }
          #main .servicios .carta .pliego_modelos .card .capa .col {
            padding: 0%; }
          #main .servicios .carta .pliego_modelos .card .capa img {
            width: 100%;
            height: 50%; }
          #main .servicios .carta .pliego_modelos .card .capa__1 {
            position: absolute;
            display: flex;
            top: 0%;
            width: 100;
            background: rgba(0, 0, 0, 0.8);
            opacity: 0;
            transition: .5s;
            color: black; }
            #main .servicios .carta .pliego_modelos .card .capa__1 img {
              width: 100%;
              height: 100%; }
          #main .servicios .carta .pliego_modelos .card .capa__2 img {
            padding: 0%; }

@media (min-width: 1024px) {
  #main .servicios {
    margin: auto; }
    #main .servicios .carta_parrafo {
      margin: 160px;
      margin-top: 15px;
      margin-bottom: 20px; }
      #main .servicios .carta_parrafo .boton span {
        margin-left: 45%;
        transition: none !important;
        left: 0% !important; }
        #main .servicios .carta_parrafo .boton span:hover {
          left: 0px !important; } }
