#header{
    background-color: #bebebe;
    display: grid;
    align-items: center;
    .container{
        display: flex; 
        align-items: baseline;
        img{
        
            width: 100%;
            height: auto;
            padding: -7px 1px;
            &:hover{
                width: 42%;
                transition: 1s;
            }
        }
        nav{
            display: flex;
            flex-direction: row;
            text-align: center;
            padding-bottom: 25px;
            align-items: center;
        }
        ul{
            display: flex;
        }
        li{
            list-style: none;
        }
        a{
            padding: 5px 8px;
            margin-top: 25px;
            text-decoration: none;
            text-align: center;
            font-weight: bold;
            color: black;
            &:hover{
                background-color: rgb(206, 206, 246);
            }
        }
    }
}
#footer{
    .enlaces{
        display: flex;
        img{
            width: 50%;
            height: auto; 
        }
        p{
            position: absolute;
            margin-left: 43%;
            margin-top: 5%;
            color: black;
        }
        ul{
            position: relative;
            margin-top: 15%;
            li{
                list-style: none;
            }
            a{
                text-decoration: none;
                color: #212529;
            }
        }
    }
    .redes{
        display: flex;
        &__container{
            a{
                margin-left: 3px;
                font-size: 20px;
            }
        }
    }
    a{
        text-decoration: none;
        color: #212529;
    }
    .contacto{
        &__titulo{
            margin-top: 10px;
            margin-bottom: 0%;
        }
        .subtitulo{
            margin-bottom: 0%;
            font-size: 13px;
            margin-top: 10px;
        }
        &__container{
            display: flex;
            align-items: baseline;
            margin-bottom: -10px;
            i{
                margin-bottom: 0%;
                color: black;
                font-size: 15px;
            }
            p{
                font-size: 15px;
                margin-left: 5px;
                color: #3e4145;
            }
            &__contenido{
                display: flex;
            }
        }
    }
}
