#main{
    img{
        width: 100%;
    }
    #contacto{
        flex-direction: column;
        h1{
            font-size: calc(1.375rem + 1.4vw);
            margin-left: 10px;
            margin-top: 30px;
            text-shadow: 2px 2px 2px #aaa;
        }
        .redesYcontacto{
            width: 100%;
            .consultas{
                hr{
                    width: 50px;
                    color: #000;
                }
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 50px;
                margin-bottom: 50px;
                a{
                    text-decoration: none;
                    font-size: 60px;
                    width: 90px;
                    height: 90px;
                    line-height: 90px;
                    text-align: center;
                    background-color: #000;
                    color: white;
                    border-radius: 50%;
                    box-shadow: 2px 2px 5px rgb(0,0,0/ 50%);
                    transition: all .4s ease-in-out;
                }
                .row{
                    width: 90%;
                    margin: 1px;
                    padding: 1px;
                    align-items: flex-end;
                    p{
                        font-size: 14px;
                    }
                    .p1{
                        margin-left: 45px;
                    }
                    .p2{
                        margin-left: 45px;
                    }
                    .mail{
                        margin-left: 30%;
                    }
                }
                &_tel{
                    .telefono{
                        display: grid;
                        justify-content: center;
                        h4{
                            margin-top: 10px;
                        }
                        .tel{
                            display: flex;
                            align-items: baseline;
                            i{
                                font-size: 30px;
                            }
                            p{
                                font-size: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
 }
//media
@media (max-width: 375px){
    #main{
        #contacto{
            h1{
                font-size: calc(1.9em + 1.4vw);
                margin-left: 20px;
            }
            .redesYcontacto{
                .imagenes{
                    display: none;
                }
                .consultas{
                    .row{
                        .p1{
                            margin-top: 10px;
                            margin-left: 66px;
                        }
                        .p2{
                            margin-top: 20px;
                            margin-left: 16px;
                        }
                        .mail{
                            margin-left: 35%;
                        }
                    }
                }
                .consultas_tel{
                    .telefono{
                        display: grid;
                        justify-content: center;
                        .tel{
                            display: flex;
                            align-items: baseline;
                            i{
                                font-size: 30px;
                            }
                            p{
                                font-size: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:500px){
    .imagenes{
        display: none;
    }
}
//mobile first
@media (min-width: 768px){
    #main{
        #contacto{
            h1{
                font-size: calc(2rem + 1.4vw);
                margin-left: 85px;
            }
            .redesYcontacto{
                .imagenes{
                    width: 30%;
                }
                .consultas{
                    display: flex;
                    flex-direction: row-reverse;
                    h4{
                        font-size: calc(2.5rem + .3vw);
                    }
                    a{
                        font-size: 80px;
                        width: 150px;
                        height: 150px;
                        line-height: 150px;
                    }
                    &_wsp{
                        a{
                            margin-top: 50px;
                            margin-left: 100px;
                        }
                        h4{
                            position: absolute;
                            margin-top: -170px;
                            margin-left: 330px;
                        }
                    }
                    &_mail{
                        h4{
                            position: absolute;
                            margin-top: -450px;
                            margin-left: 350px;
                        }
                        .mailImg{
                            margin-left: 140px;
                        }
                        .row{
                            display: grid;
                            margin-top: 30px;
                            p{
                                font-size: 19px;
                            }
                            .p1{
                                margin-left: 85px;
                            }
                            .mail1{
                                margin-left: 95px;
                            }
                            .mail2{
                                margin-left: 65px;
                            }
                        }
                    }
                    &_tel{
                        .telefono{
                            h4{
                                position: absolute;
                                margin-left: 420px;
                                margin-top: 140px;
                                font-size: calc(1.5rem + .3vw);
                            }
                        }
                        .tel{
                            position: absolute;
                            margin-left: 450px;
                            margin-top: 190px;
                        }
                        .telImg{
                            margin-left: 111px;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 1024px){
    #main{
        #contacto{
            .redesYcontacto{
                .imagenes{
                    filter: brightness(0.7);
                }
                hr{
                    display: none;
                }
                .consultas{
                    h4{
                        font-size: calc(1rem + 1.4vw);
                        position: absolute;
                        margin-top: -250px;
                        margin-left: 40%;
                    }
                    a{
                        margin-left: 131px;
                    }
                    &_mail{
                        h4{
                            margin-top: -405px;
                        }
                        .row{
                            .p1{
                                margin-left: 90px;
                            }
                        }
                    }
                    .mailImg{
                        margin-left: 210px;
                    }
                    &_tel{
                        .telefono{
                            margin-right: 250px;
                            h4{
                                margin-top: 150px;
                                margin-left: 60%;
                            }
                        }
                        .tel{
                            display: flex;
                            align-items: baseline;
                            position: absolute;
                            margin-left: 60%;
                            margin-top: 195px;
                            i{
                                font-size: 40px;
                            }
                            p{
                                font-size: 50px;
                            }
                        }
                        .telImg{
                            margin-bottom: 50px;
                            width: 50%;
                            margin-left: 135px;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width:1440px){
    #main{
        #contacto{
            .redesYcontacto{
                .consultas{
                    .row{
                        .mail{
                            margin-left: 20%;
                        }
                    }
                    .mailImg{
                        margin-left: 380px;
                    }
                    &_tel{
                        .telImg{
                            width: 85%;
                            margin-left: 25px;
                        }
                    }
                }
            }
        }
    }
}