main{
    #hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: white;
        padding-bottom: 30px;
        background-image: linear-gradient(135deg,
        #25316D, #5F6F94, #CFD2CF); 
        background-size: 500%;
        animation: fanimado 10s infinite;
        h1{
            margin: -14px;
            font-size: calc(1.5rem + 1.5vw);  
            margin-top: 70px;
            text-shadow: 2px 2px 2px #aaa;
        }
        @keyframes fanimado{
            0%{
                background-position: 0% 50%;
            }
            50%{
                background-position:  100% 50%;
            }
            100%{
                background-position: 0% 50%;
            }
        }
        .logoIndex{
            width: 80%;
            height: 50%;
        }
        p{
            margin: 10px;
            font-size: 15px;
        }
        .cartas{
            margin: 50px;
        }
        .carta{
            margin: 20px;
            padding-bottom: 20px;
            &_titulo{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .titulo{
            color: beige;
            text-shadow: 2px 2px 2px #aaa;
        }
        .parrafo{
            font-size: 15px;
            padding: 5px;
        }
        img{
            width: 60px;
            height: 60px;
            color: white;
        }
        .boton{
            font-size: 0.5em;
            font-weight: bold;
            border-radius: 5px;
            border: 2px solid rgba($color: #000000, $alpha: 1.0);
            box-shadow: 2px 2px 10px rgba($color: #000000, $alpha: 1.0);
            color: black;
            background-color: #c1c1cd;
            &:hover{
                background-color: beige;
            }
        }
    }

    #seccion__1 {
        .container {
            background-color: whitesmoke;
            text-align: center;
            padding: 200px 20px;
            h2 {
                text-shadow: 4px 4px 4px #aaa;
            }

            h4 {
                margin-top: 50px;
                font-size: calc(1.1rem + .1vw);
            }
        }
    }

    #seccion__2{
        h4{
            margin-left: 5px;
            margin: -1px;
            background-color: #bebebe;
        }
        .container{
            padding: 0;
            max-height: 120px;
            border: 0px solid white;
            display: flex;
            overflow-x: auto;
            .item{
                min-width: 110px;
                height: 110px;
                line-height: 110px;
                text-align: center;
                background-color: black;
                p{
                    color: white;
                }
            }
        }
    }
}  
    