#main{
    .servicios{
        width: 100%;
        max-width: 1100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            text-shadow: 2px 2px 2px #aaa;
            padding: 15px;
        }
        .carta{
            width: 80%;
            display: flex;
            flex-direction: column;
            margin: 5px;           
            margin-bottom: 10px;
            border-radius: 6px;
            overflow: hidden;
            background-color: white;
            box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
            &_titulo{
                background-color: #bebebe ;
                p{
                    margin-left: 11px;
                    margin-top: 10px;
                }
            }
            &_imagen{
                margin-top: 5px;
                display: flex;
                justify-content: center;
                img{
                    width: 35%;
                }
            }
            &_parrafo{
                p{
                    margin: 15px;
                    line-height: 2;
                }
            }
            .boton{
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 40px;
                color: black;
                border: none;
                cursor: pointer;
                text-transform: uppercase;
                transition: .3s ease all;
                border-radius: 5px;
                position: relative;
                overflow: hidden;
                &:hover{
                    .icono{
                        left: calc(100% - 50px);
	                    opacity: 1;
                    }
                }
                span{
                    transition: .4s ease-in-out all;
                    position: absolute;
                    left: 40%;
                    &:hover{
                        left: 20px;
                    }
                }
            }
            .pliego{
                &_modelos{
                    position: relative;
                    display: flex;
                    overflow: hidden;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin: 15px;
                    cursor: pointer;
                    &:hover> .capa{
                        opacity: 1;
                        visibility: visible;
                    }
                    &:hover> .capa img{
                        margin: 50px;
                    }
                    .card{
                     width: 100%;
                     height: 100%;
                     border-radius: 5px;
                     box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);
                     margin: 5px;
                     p{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: flex-start;
                     }      
                     .capa{
                        position: absolute;
                        display: flex;
                        top: 0%;
                        width: 100%;
                        height: 100%;
                        margin-left: 0%;
                        background: rgba(0, 0, 0, .8);
                        opacity: 0;
                        transition: .5s;
                        color: black;
                        &:hover{
                            opacity: 1;
                         }
                        .col{
                            padding: 0%;
                        }
                        img{
                            width: 100%;
                            height: 50%;
                        }
                        &__1{
                            position: absolute;
                            display: flex;
                            top: 0%;
                            width: 100;
                            background: rgba(0, 0, 0, 0.8);
                            opacity: 0;
                            transition: .5s;
                            color: black;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        &__2 {
                            img{
                                padding: 0%;
                            }
                        }
                     }
                    }
                }
                
            }
        }
    }
}
//mobile first
@media (min-width: 1024px){
    #main{
        .servicios{
            margin: auto;
            .carta{
                &_parrafo{
                    margin: 160px;
                    margin-top: 15px;
                    margin-bottom: 20px;
                    .boton{
                        span{
                            margin-left: 45%;
                            transition: none !important;
                            left: 0% !important;
                            &:hover{
                                left: 0px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}